* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: creditcard;
    src: url(../fonts/Credit-Card-Font\ \(1\).zip);
}

.dashboardbody {
    width: 100%;
}

.dashsidebar {
    background-color: #ffff;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* overflow-y: scroll; */
    padding-bottom: 30px;
    padding-top: 20px;
}

.dashsidebar::-webkit-scrollbar {
    width: 3px;
    height: 6px !important;
}

.dashsidebar::-webkit-scrollbar-thumb {
    height: 30px;
}

.dashsidebar::-webkit-scrollbar-track {
    background: #556A7F;
    height: 20px;
    border-radius: 40px;
}

.dashsidebar::-webkit-scrollbar-track-piece {
    width: 10px;
    border-radius: 40px;
}


.dashcont {
    width: 85%;
    margin: 0 0 0 auto;
    background: #e9eef7a9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dashsidebar {
    width: 250px;
    display: flex;
    justify-content: center;
}

.dashdetails {
    width: 100%;
}

.dashdetails div {
    width: 100%;
    margin: auto;
    margin: 50px 0;
    border-bottom: 1px solid #f8f8f9;

}

.dashdetails div:hover {
    transition: 1s all ease-out;
    padding: 12px 20px;
    background: #f8f8f9;
    border-radius: 2px;
}

.dashboardpage {
    width: 250px;
    border-right: 2px solid #0067F5;
    border-radius: 3px;
}


.dashtxet {
    font-size: 1.1rem;
    color: #768a9e;
    font-weight: 500;
}

.dashdetails .dashdetailscon {
    margin: auto;
    text-decoration: none;
    color: #556A7F;
    font-weight: 500;

}


.dashdetailscon .dashicon {
    margin-top: 7px;
    padding-right: 10px;
    color: #556A7F;

}



.account {
    margin-top: 100px;
    line-height: 3.2;
}

.account div {
    border-bottom: 1px solid #f8f6f6;
}

.account div .link {
    color: #556A7F;
    text-decoration: none;
}

.account div .link span {
    padding-left: 5px;
    font-weight: 500;
}



.dashheadercont {
    background-color: white;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 1px 2px 5px #d3d3d3;
}

.imgonline {
    position: relative;
    display: flex;
}

.online {
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    position: absolute;
    top: 2px;
    left: 32px;
    border-radius: 10px;

}

.dashsidebtn {
    display: none;
}

.dashgridsect {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.atmcard {
    width: 70%;
    height: 240px;
    background: linear-gradient(to left, #0067F5, #0DC5E7);
    margin-top: 30px;
    margin-left: 80px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.atmlogo {
    display: flex;
    justify-content: flex-start;
}

.cardnumber {
    font-family: creditcard;
}

.fundacc {
    margin-left: 90px;
    margin-top: 30px;
}

.fundacc button {
    border: none;
    font-weight: 500;
    background: #ffff;
    padding: 10px 20px;
    box-shadow: 1px 2px 3px #d3d3d3;

    margin: 0 10px;
    border-radius: 5px;
}

.fundacc button p {
    text-align: left;
    margin-bottom: 2px;
}

.fundacc button .funp1 {
    background-color: #ededff;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
}

.fundacc button .funp2 {
    background-color: #eefbe7;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    color: #71dd37;
}

.fundacc button .funp3 {
    background-color: #ffe7e3;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    color: #ff8873;
}

.fundacc button .funp1 span {
    color: #0DC5E7;

}

.sect2 {
    padding-top: 10px;
}

.transhis {
    width: 66%;
    margin: auto;
    background-color: #ffff;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #d3d3d3;
}

.transdashtext {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    color: #607387;
    padding: 3px 5px;

}

.dashsavings {
    width: 90%;
    height: 40vh;
    background: #ffff;
    margin-left: 70px;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #d3d3d3;

}

.transactiondetailsboard {
    width: 67%;
    margin: auto;
    display: grid;
    grid-template-columns: 5fr 5fr;
    justify-content: space-evenly;
    margin-top: 30px;

}

.transactiondetailsboard div {
    width: 90%;
    padding: 30px 9px;
    background: #ffff;
    box-shadow: 1px 1px 3px #d3d3d3;
    border-radius: 5px;

}

.moneyinvolved {
    font-size: 2rem;
    color: #607387;

}

.senttext {
    padding: 10px 0;
    color: #607387;
    color: #71dd70;

}

.funacc {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000007e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundform {
    width: 33%;
    background: #ffff;
    padding: 50px 0;

}

.fundform input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: 1px solid #b5b5b6;
}

.fundform input:focus {
    outline: 2px solid #0066f55b;
    border: none;
}

.fundform button {
    border: none;
    background: #0067F5;
    padding: 10px 20px;
    color: white;
    margin-top: 10px;
    border-radius: 50px;
    font-weight: 500;
}

.dashtranscinfo {
    width: 100%;
    padding: 5px 10px;
    background: #ffff;
    box-shadow: 1px 2px 4px #ededff;
    color: #b5b5b6;

}


.dashtransc {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 500;
    color: #b5b5b6;
    margin: 4px 0;

}

.dashsign {
    color: #ff3e1d;
    background: #ffe7f3;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 10px 0;
}

.seealllink {
    width: 100%;
    display: flex;
    text-align: right;
    justify-content: right;
    align-items: flex-end;
    position: relative;
}

.seeallink {
    padding-right: 5px;
    text-decoration: none;
    color: #768a9e;
    font-weight: 500;
}

.createwalletmodal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000088;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: walletmodal 1 0.9s running normal;
}

@keyframes walletmodal {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
}

.walletmod {
    width: 30%;
    background: #ffff;
    padding: 10px;
    animation: wallet 1 0.9s running normal;
}

@keyframes wallet {
    0% {
        transform: translateX(100px);
    }
}

.walletform div {
    width: 90%;
    margin: 20px auto;
}

.walletform div p {
    padding: 7px 0;
}

.walletform div input {
    width: 100%;
    height: 40px;
    border: 1px solid #b5b5b6;
    padding-left: 5px;


}

.walletform div input:focus {
    border: none;
    border-radius: 4px;
    outline: 2px solid #0066f563;
}

.walletcreatbtndiv {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.walletcreatbtndiv button {
    border: none;
    background: #0067F5;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: 500;
}

.dashsavings {
    padding-left: 10px;
    height: unset;
    padding: 10px 5px;
}

.invest1 {
    display: flex;
    align-items: center;
    margin: 10px 0;

}

.invest1 div {
    width: 80%;
    padding: 10px 0;
    background-color: #71dd37;
    margin-left: 17px;
}

.invest2 {
    display: flex;
    align-items: center;
    margin: 10px 0;

}

.invest2 div {
    width: 40%;
    padding: 10px 0;
    background-color: rgb(253, 78, 78);
    margin-left: 24px;
}

.invest3 {
    display: flex;
    align-items: center;
    margin: 10px auto;

}

.invest3 div {
    width: 60%;
    padding: 10px 0;
    background-color: #71dd70;
    margin-left: 27px;
}

.invest4 {
    display: flex;
    align-items: center;
    margin: 10px 0;

}

.invest4 div {
    width: 20%;
    padding: 10px 0;
    background-color: red;
    margin-left: 10px;
}

.invest5 {
    display: flex;
    align-items: center;
    margin: 10px 0;

}

.invest5 div {
    width: 10%;
    padding: 10px 0;
    background-color: red;
    margin-left: 10px;
}

.investp {
    font-weight: 500;
    color: #556A7F;
}

.fundwallet {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundwallet div {
    width: 30%;
    background: #ffff;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: #71dd37;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 5px;
    animation: ifdiv 1 0.9s running normal;
}

@keyframes ifdiv {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

}



.deletwalletModal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.329);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sureyouwntdlt {
    width: 30%;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    border-radius: 5px;
    animation: sure 1 0.9s running normal;
}

@keyframes sure {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

}

.sureyouwntdlt div {
    width: 100%;
}

.sureyouwntdlt div p {
    font-size: 1rem;
    color: #ff3e1d;
    text-align: center;
    padding: 10px 0;
}

.trash {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: red;
    padding: 7px 0;
    animation: trash infinite 1.8s running normal;
}

@keyframes trash {
    0% {
        transform: rotateX(30deg);

    }

    10% {
        transform: rotateX(-30deg);
    }

}

.walletbtndlt {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 0;

}

.walletbtndlt button {
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: 500;
    color: #556A7F;
}

.walletbtndlt .dlt {
    background-color: #ff3e1d;
    color: white;
}

@media (max-width:1330px) {
    .dashcont {
        width: 80%;
    }
}

@media (max-width:1238px) {
    .atmcard {
        width: 90%;
    }

    .transactiondetailsboard {
        width: 80%;
    }

    .transhis {
        width: 80%;
        margin-top: 15px;
    }

    .walletmod {
        width: 50%;
    }

    .sureyouwntdlt {
        width: 50%;
    }

    .transactiondetailsboard .moneyinvolved {
        font-size: 1.4rem;
    }
}

@media (max-width:1100px) {


    .dashboardbody .dashcont {
        width: 100%;
    }

    .dashsidebtn {
        display: block;
    }

    .dashsidebtn button {
        border: none;
        background: none;
        font-size: 1.3rem;
    }


    .backdash {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.534);
    }

    .dashboardbody .dashsidebar {
        display: none;

    }

    .transactiondetailsboard .moneyinvolved {
        font-size: 1.4rem;
    }
}

@media (max-width:900px) {
    .dashgridsect {
        grid-template-columns: 100%;
    }

    .atmcard {
        width: 55%;
    }

    .dashsavings {
        width: 80%;
        margin: 20px auto;
    }

    .walletmod {
        width: 60%;
    }

    .sureyouwntdlt {
        width: 60%;
    }

    .fundform {
        width: 50%;
    }
}

@media (max-width:710px) {
    .atmcard {
        width: 74%;

    }

    .walletmod {
        width: 70%;
    }

    .fundform {
        width: 65%;
    }

    .fundwallet div {
        width: 40%;
    }

    .fundwallet div p {
        font-size: 1.2rem;
        font-weight: 400;
    }
}

@media (max-width:500px) {
    .atmcard {
        width: 90%;
        margin: unset;
        margin-top: 20px;
        margin-left: 22px;
    }


    .transhis {
        width: 90%;
        margin-top: 15px;
    }

    .fundacc {
        margin: unset;
        margin-top: 20px;
        margin-left: 10px;
    }


    .dashsavings {
        width: 90%;
    }

    .walletmod {
        width: 90%;
    }

    .sureyouwntdlt {
        width: 80%;

    }

    @keyframes sure {
        0% {
            opacity: 0;
            transform: translateY(-40px);
        }

    }

    .fundform {
        width: 90%;
    }

    .fundwallet div {
        width: 55%;
    }

    .fundwallet div p {
        font-size: 1.2rem;
        font-weight: 400;
    }
}

@media (max-width:378px) {
    .atmcard {
        width: 95%;
        margin: unset;
        margin: 10px auto;
    }

    .dashsavings {
        width: 95%;
    }

    .transactiondetailsboard {
        width: 95%;
        justify-content: space-between;
    }

    .transactiondetailsboard div {
        width: 95%;

    }

    .transhis {
        width: 95%;
        padding: 5px;
        box-sizing: border-box;
    }

    .sureyouwntdlt {
        width: 90%;
    }

}

@media (max-width:363px) {
    .fundacc button {
        margin: 0;
        margin: 0 5px;
    }
}