* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.signupbody {
    width: 100%;
    background: linear-gradient(to left, #eff2f7, #eff2f75d, white);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../imges/default.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;


}

.back {
    width: 100%;
    background-color: #000000b4;
    padding: 40px 0;


}

.signup {
    width: 30%;
    background: white;
    padding: 20px 0;
    margin: 0 auto;
    animation: signup 1 1s running normal;
}



@keyframes signup {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
}


.logo {
    display: flex;
    justify-content: center;
}

h4 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    padding: 10px 0;
}

.inputsect {
    width: 90%;
    margin: 0 auto;
}

.inputsect p {
    padding-bottom: 10px;
    color: #333333;
}

.inputsect div {
    width: 100%;
    border: 1px solid #48515c46;
    margin-bottom: 13px;
    padding: 3px 0;
    border-radius: 2px;
    display: flex;

    align-items: flex-end;

}

.inputsect div span {
    padding-left: 5px;

}

.inputsect div input {
    width: 80%;
    height: 42px;
    border: none;
}

.inputsect div input:focus {
    outline: none;
}

.gotan {
    text-align: center;
    color: #333333;
}

.rod {
    width: 90%;
    margin: auto;
    display: flex;
    padding: 3px;
    justify-content: center;
    align-items: center;


}

.rod1 {
    border-bottom: 1px solid #33333342;
    padding: 2px;
    width: 40%;

}

.rod2 {
    border-bottom: 1px solid #33333342;
    padding: 2px;
    width: 40%;
}

.signinlink {
    padding: 0 10px;
    text-decoration: none;
    color: #0067F5;
}

.btndiv {
    display: flex;
    justify-content: center;
    padding: 10px 0;

}

.btndiv button {
    width: 90%;
    padding: 14px 20px;
    border: none;
    background: #0067F5;
    color: white;
    font-weight: 500;
    border-radius: 20px;


}

.signinbody {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../imges/cover.png);
    background-position: center;
    background-size: cover;
}



.signinback {
    width: 100%;
    background-color: #00000070;
    padding: 40px 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signinbodycon {
    width: 30%;
    background-color: white;
    padding-top: 40px;
    border-radius: 5px;
    animation: signin 1 0.9s running normal;
}

@keyframes signin {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }
}

.emailsignin {
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #00000079;
    margin-bottom: 30px;
}

.signintext {
    text-align: center;
    font-size: 1.4rem;
}

.emailsignin input {
    border: none;
    height: 40px;
    width: 90%;


}

.emailsignin span {
    color: #0067F5;
    padding-right: 5px;
}

.emailsignin input:focus {
    outline: none;
}

.emailsignin p {
    padding: 5px 0
}

.paswordsign {
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #00000079;
}

.paswordsign p {
    padding: 5px 0;
}

.paswordsign span {
    color: #0067F5;
    padding-right: 2px;
}

.paswordsign input {
    border: none;
    height: 40px;
    width: 90%;
}

.paswordsign input:focus {
    outline: none;
}

.signinbtn {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.signinbtn button {
    border: none;
    background: #0067F5;
    color: white;
    padding: 14px 20px;
    width: 40%;
    border-radius: 30px;
}

.rodsignin {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.rodsignin .rodsignin1 {
    border-bottom: 1px solid #00000079;
    padding: 2px 0;
    width: 40%;
}

.rodsignin .rodsignin2 {
    border-bottom: 1px solid #00000079;
    padding: 2px 0;
    width: 40%;
}

.rodsignin .signuplink {
    padding: 0 6px;
    color: #0067F5;
    text-decoration: none;
    padding: 0 9px;
}

.dont {
    text-align: center;
}

.loadingif {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loadingif>.gifdiv {
    display: flex;
    justify-content: center;
    animation: gifdiv infinite 1s running normal;
}

@keyframes gifdiv {
    0% {
        opacity: 0;
        transform: rotateY(95deg);

    }

}

.loadingif div>div {
    width: 30px;
    height: 30px;
    background-color: #0067F5;
    margin: 0 20px;
    animation: gifdivball infinite 1s running normal;

}

@keyframes gifdivball {
    0% {
        border-radius: 30px;

    }

}

@media (max-width:1300px) {
    .signinbodycon {
        width: 40%;
    }
}

@media (max-width:1225px) {
    .signup {
        width: 40%;
    }
}

@media (max-width:1000px) {
    .signinbodycon {
        width: 50%;
    }
}

@media (max-width:900px) {
    .signup {
        width: 60%;
    }

    h4 {
        font-size: 1.3rem;
    }

    .signinbodycon {
        width: 55%;
    }
}

@media (max-width:700px) {
    .signinbodycon {
        width: 80%;
    }
}

@media (max-width:600px) {
    .signup {
        width: 80%;
    }

}

@media (max-width:450px) {
    .signup {
        width: 90%;
    }

    .signinbodycon {
        width: 90%;
    }

}

@media (max-width:400px) {
    .signup {
        width: 97%;
    }

    .signinbodycon {
        width: 95%;
    }

}