.transferpage {
    width: 100%;
    display: grid;
    background: url(../imges/cover.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.tansferlogopage {
    width: 100%;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    justify-content: center;
    align-items: center;
}

.transferform {
    width: 40%;
    background-color: #ffffff;
    padding: 10px 0;
    animation: tf 1 1s running normal;
}

@keyframes tf {
    0% {
        opacity: 1;
        transform: translateX(-30px);
    }
}

.transfer {
    text-align: center;
    color: #556A7F;

    margin: auto;

}

.transferinpt {
    width: 90%;
    margin: auto;
}

.transferinpt input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #cecece;
    border-radius: 2px;
}

.transferinpt p {
    font-size: 1;
    font-weight: 500;
    color: #556A7F;
    padding: 10px 0;
}

.transferinpt input:focus {
    outline: none;
    padding-left: 5px;
}

.transferinpt textarea {
    width: 100%;
    height: 20vh;
    resize: none;
    border: 1px solid #cecece;

}

.transferinpt textarea:focus {
    outline: none;
    padding: 5px;
}

.transferbtn {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.transferbtn button {
    margin: 5px 10px;
    padding: 10px 16px;
    border: none;
    border-radius: 20px;

}

.tranfercancel {
    background: #ff8873;
    color: white;
}

.transfersend {
    background: #0067F5;
    color: #ffffff;
    font-weight: 500;

}

.transaction_History {
    text-align: center;
    color: #556A7F;
    font-size: 2rem;
}

.transaction_History_content {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    margin-top: 20px;
}

.transaction_History_content div {
    background-color: #ffffff;
    line-height: 3;
    padding: 10px 10px;
    box-shadow: 1px 2px 5px #cecece;
}

.transaction_History_content .div {
    box-shadow: none;
    border-radius: 5px;
}

.transaction_History_content div p {
    color: #556A7F;
    font-weight: 500;
}

.transaction_History_content div p span {
    font-weight: 400;
    color: #7a8da0;
}

.transactionbutton {
    display: flex;
}

.transactionbutton button {
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    color: #ffffff;
    background: #0067F5;
    border-radius: 5px;

}

.transfermodal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transfermodal p {
    padding: 20px 0;
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
}

.transferballmodal {
    width: 100px;
    height: 100px;
    border: 4px solid #0067F5;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: transfer infinite 1s running normal;
}

@keyframes transfer {
    0% {
        transform: rotate(360deg);
        border-radius: 200px;
    }

}

@media (max-width:1280px) {
    .transaction_History_content {
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: space-evenly;
    }

    .transaction_History_content .div {
        margin-top: 30px;
    }
}

@media (max-width:1000px) {
    .transferform {
        width: 60%;
    }
}

@media (max-width:830px) {
    .transaction_History_content {
        width: 100%;
    }
}

@media (max-width:800px) {
    .transferform {
        width: 70%;
    }
}

@media (max-width:700px) {
    .transferform {
        width: 85%;
    }

    .transaction_History_content {
        grid-template-columns: 60%;
        justify-content: center;
    }
}

@media (max-width:500px) {
    .transferform {
        width: 90%;
    }

    .transaction_History_content {
        grid-template-columns: 80%;

    }
}